<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
  
    <h1>Undermaintainance<h1>
      <p>We will be right back</p>
  {{> footer}}
  </body>
</html>
